body{
    background-image: url(https://media.istockphoto.com/id/1474737449/es/foto/fondo-de-arena-de-playa-para-concepto-de-vacaciones-de-verano-naturaleza-de-la-playa-y-agua-de.jpg?s=1024x1024&w=is&k=20&c=xff9leirfblhm2ysNhLIxeA3Fcsgcw9_H0024CXj0UE=);
}
h1{
    
    font-style: oblique;
    font-size: 500%;

}